<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<!--{% if page.image.feature %}-->
<!--<div class="image-wrap">-->
<!--<img src=-->
<!--{% if page.image.feature contains 'http' %}-->
<!--"{{ page.image.feature }}"-->
<!--{% else %}-->
<!--"{{ site.url }}/images/{{ page.image.feature }}"-->
<!--{% endif %}-->
<!--alt="{{ page.title }} feature image">-->
<!--{% if page.image.credit %}-->
<!--<span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>-->
<!--{% endif %}-->
<!--</div>-->
<!--{% endif %}-->

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
      <!--<h1>{{ page.title }}</h1>-->
    <div class="article-wrap">
      {{ content }}

      <div class="more">
      {% capture text-capture %}

##### Reviewer for Journals
International Journal of Information Security (IJIS)<br>
Information Security Journal: A Global Perspective (ISJ)<br>
Information Security Technical Report (ISTR)<br>
Journal of Information Security and Applications (JISA)<br>
Data Mining and Knowledge Discovery (DAMI)<br>
IET Information Security (IET-IS)<br>
Pervasive and Mobile Computing (PMC)<br>
Security and Communication Networks (SCN)<br>
Transactions on Dependable and Secure Computing (TDSC)<br>
Neural Computing and Applications (NCAA)<br>

##### External Reviewer
CCS<br>
DIMVA<br>

##### PC Memberships
2018: Jornadas Nacionales de Ciberseguridad (JNIC)<br>
2017: International Workshop on FORmal methods for Security Engineering (ForSE)<br>

##### Organizations

Norway Chapter Lead @ The Honeynet Project<br>
Security Without Borders<br>

##### Teaching
Seminar Malware Analysis and Detection, WS 17/18 (Assistant)<br>
Seminar Malware Analysis and Detection, WS 16/17 (Assistant)<br>
Seminar Malware Analysis and Detection, WS 15/16 (Assistant)<br>

##### Bachelor and Master Thesis

##### Awards
German Prize for IT-Security 2016 (2nd Place)


        {% endcapture %}

        {% include toggle.html name="more-text" button-text="•••" text=text-capture %}

    </div><!-- /.more -->
    </div><!-- /.article-wrap -->
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          




</body>
</html>
