<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<!--{% if page.image.feature %}-->
<!--<div class="image-wrap">-->
<!--<img src=-->
<!--{% if page.image.feature contains 'http' %}-->
<!--"{{ page.image.feature }}"-->
<!--{% else %}-->
<!--"{{ site.url }}/images/{{ page.image.feature }}"-->
<!--{% endif %}-->
<!--alt="{{ page.title }} feature image">-->
<!--{% if page.image.credit %}-->
<!--<span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>-->
<!--{% endif %}-->
<!--</div>-->
<!--{% endif %}-->

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
      <!--<h1>{{ page.title }}</h1>-->
    <div class="article-wrap">
      {{ content }}

      <div class="more">
      {% capture text-capture %}

#### Peer Review

**Journals**<br>
Data Mining and Knowledge Discovery (DAMI) <br>
Neural Computing and Applications (NCAA)<br>
Transactions on Information Forensics & Security (TIFS)<br>
Transactions on Dependable and Secure Computing (TDSC)<br>
Computers & Security (COSE)<br>
International Journal of Information Security (IJIS)<br>
Information Security Journal: A Global Perspective (ISJ)<br>
Information Security Technical Report (ISTR)<br>
Journal of Information Security and Applications (JISA)<br>
Security and Communication Networks (SCN)<br>
IET Information Security (IET-IS)<br>
Pervasive and Mobile Computing (PMC)<br>
Future Generation Computer Systems (FGCS)<br>
Sensors (SENSC9)<br>
Entropy (ENTRFG)<br>
Computer & Informatics (CAI) <br>
Arabian Journal for Science and Engineering (AJSE)<br>
The SciTech Journal (SciTech) <br>
Applied Sciences (APPSCI)<br>
Computing (COMP)<br>
<br>
**External Reviewer**<br>
ACM Conference on Computer and Communications Security (CCS) [2015] <br>
Annual Computer Security Applications Conference (ACSAC) [2015, 2017] <br>
International Symposium on Research in Attacks, Intrusions and Defenses (RAID) [2015, 2016]<br>
Conference on Detection of Intrusions and Malware & Vulnerability Assessment (DIMVA) [2014, 2016] <br>
ACM Workshop on Artificial Intelligence and Security (AISEC) [2014, 2016] <br>
Internacional Conference on Availability, Reliability and Security (ARES) [2013, 2014]<br>
Symposium on Electronic Crime Research (eCRIME) [2014] <br>
International Symposium on Engineering Secure Software and Systems (ESSOS) [2014] <br>
IT-Sicherheitskonferenz (Sicherheit) [2014] <br>
IFIP Information Security Conference & Privacy Conference (IFIP SEC) [2015, 2016]<br>
International Conference on Soft Computing Models in Industrial and Environmental Applications (SOCO) [2014]<br>
IEEE European Symposium on Security and Privacy 2018 (EuroS&P) [2016]<br>
ACM ASIA Conference on Computer and Communications Security (ASIACCS) [2017, 2018]<br>
IEEE International Conference on Distributed Computing Systems (ICDCS) [2018]<br>
<br>
**PC Memberships**<br>
Jornadas Nacionales de Ciberseguridad (JNIC) [2018] <br>
International Workshop on FORmal methods for Security Engineering (ForSE) [2017, 2016] <br>

<br>
#### Organizations

[**Society of Spanish Researchers in Germany (CERFA/SFBD)**](https://cerfa.de/)<br>
Member<br>
<br>

[**The Honeynet Project**](https://www.honeynet.org/)<br>
Norway Chapter Lead<br>
<br>

[**Security Without Borders**](https://www.securitywithoutborders.org/)<br>
Contributor<br>

<br>
#### Teaching

**Technical University of Braunschweig**<br>
Deep Learning for Malware Analysis - Machine Learning for Computer Security [SS17, SS18]<br>
Seminar Malware Analysis and Detection [WS15, WS16, WS17]<br>
*MSc in Computer Science* <br>
<br>
**University of Göttingen**<br>
Smartphone Security - Computer and Network Security [WS14, WS15]<br>
*MSc in Applied Computer Science* <br>

<br>
#### Supervision

**Theses**<br>
Generating Stateful Black Box Fuzzers For Network Protocol Implementations - Christian Bruns [MS/2016]<br>
Explicit Feature Spaces for Learning with Graphs - Benjamin Plock [BS/2015]<br>
<br>
**Code Projects**<br>
[Protocol and adversary identification in Go](https://github.com/nikofil/go-dpi) - Google Summer of Code 2017<br>
[Droitbot](https://github.com/honeynet/droidbot) - Google Summer of Code 2015<br>
[HpfeedsHoneyGraph](https://www.honeynet.org/node/957) - Google Summer of Code 2013<br>

<br>
#### Awards
German Prize for IT-Security 2016 (2nd Place)


        {% endcapture %}

        <!--{% include toggle.html name="more-text" button-text="•••" text=text-capture %}-->
        {% include toggle.html name="more-text" button-text="read more" text=text-capture %}

    </div><!-- /.more -->
    </div><!-- /.article-wrap -->
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          




</body>
</html>
